

ul{
list-style-type: square;
}




ol{
list-style-type:armenian;

}

.sub{
    border: 3px dotted red;
}


h1{
    background-color: blue; width: fit-content;
}


div{
    
    background-color: blueviolet; width: 200; height: 200;
}

a{
    display:inline-block;
    background-color: rgb(196, 30, 30);
    width: 200px;
    border: 1px solid chocolate;


}

span{
    background-color: blue;
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
    border: 1px dashed blue;
}

